.carousel{
    background-color: red;
    height: 500px;
    width:auto;
    margin:40px,20px;
    padding:40px,20px;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
}



// CONTENEDORES
.divContainer {
    background-color: blueviolet;
    height: 500px;
    width:auto;
    margin:40px,20px;
    padding:40px,20px;
    display: flex;
    border: 2px, solid, black
}
.footerContainer {
    background-color: blue;
    height: 300px;
    width:auto;
    margin:40px,20px;
    padding:40px,20px;
    display: flex;
    border: 2px, solid, black
}

.intoDivContainer {
    background-color: blueviolet;
    height: 500px;
    width:50%;
    margin:40px,20px;
    padding:40px,20px;
    display: flex;
    border: 2px, solid, black
}