@mixin cardFlexColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin card(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin cardFlexColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin cardFlexColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

