.carousel{
    background-color: red;
    height: 400px;
    width:auto;
    margin:40px,20px;
    padding:40px,20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}