.btn{
    font-size: 1.2rem;
    border-radius: 5%;
    border: 0 solid #c71212 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c71212;
    color: white;
    cursor: pointer;
    &:hover{
        // color: #913030;
        background-color: #840d0d;
    }
}

.btn-carousel{
    width: 50%;
    margin-bottom: 5px;
}