@use '../../variables';
.btn{
    font-size: 1.2rem;
    border-radius: 10px;
    border: 0 solid variables.$darkcolor-red-base ;
    font-family:  "Montserrat Alternates", Verdana, Geneva, Tahoma, sans-serif;
    background-color: variables.$darkcolor-red-base;
    color: white;
    padding: 7px 0px;
   
    cursor: pointer;
     transition-duration: .1s;
        /* Agrega una transición suave */
        transform-origin: center center;
    &:hover{
        // color: #913030;
        background-color:variables.$darkcolor-red-base;
       transform: scale(1.1)
        // font-weight: bold;
    }
}

.btn-carousel{
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
}

.btn-card-small{
    width: 80%;
    font-size: small;
}

.btn-link{
    font-size: small;
    background-color: variables.$bg-white ;
    color: variables.$color-red-base;
    align-self: flex-start;
    text-decoration: underline;
    padding: 0px;
    &:hover{
        color:variables.$darkcolor-red-base;
        background-color: variables.$bg-white ;
        font-weight: bolder;
        transform: none;
        // text-decoration: underline variables.$darkcolor-red-base solid;
    }
    
}


.btn_selected{
    background-color: aqua;
}


