
// CONTENEDORES
.container {
background-color: blueviolet;
height: 500px;
width:auto;
// margin:40px,20px;
// padding:40px,20px;
display: flex;
border: 2px, solid, black
}
.container-sp-even {
    justify-content: space-evenly;
    align-items: center;
}
.container-center{
    justify-content: center;
    align-items: center;
}

.container-notice{
place-items: center;
justify-content: center;
gap: 10px;
}
.container-shop{
    height: auto;
    flex-wrap: wrap;
    position: relative;

}
.container-sidebar{
    position: absolute;
    width: 15%;
    background-color: wheat;
    height: 100%;

}
.container-side-items{
    display: flex;
    justify-content: end;
}
.container-side-items_items{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    width: 85%;
    background-color: yellow;
}
.footerContainer {
background-color: blue;
height: 300px;
width:auto;
margin:40px,20px;
padding:40px,20px;
display: flex;
border: 2px, solid, black
}

// .intoDivContainer {
// background-color: blueviolet;
// height: 500px;
// width:50%;
// margin:40px,20px;
// padding:40px,20px;
// display: flex;
// border: 2px, solid, black
// }