
// CONTENEDORES
@use '../../variables';
.container {
background-color: blueviolet;
min-height: 500px;
height: auto;
width:auto;
display: flex;
border: 2px, solid, black;
flex-direction: column;
align-items: center;
justify-content: center;
}
.container-flex{
    display: flex;
    width: 100%;
    flex-direction: row;
}   
.container_clean {
    border: 0;
    min-height: auto;
    background-color: variables.$bg-white;
    // background-color:red;
    border-bottom: 1px solid variables.$borders-grey;
    padding: 20px 0px;
}
.container-sp-even {
    justify-content: space-evenly;
    align-items: center;
}
.container-center{
    justify-content: center;
    align-items: center;
}
.container-title{
    width: 80%;
    & h1 {
        color:gray
    }
}
.container-notice{
place-items: center;
justify-content: center;
gap: 10px;
}
.container-shop{
    height: auto;
    flex-wrap: wrap;
    position: relative;
}
.container-sidebar{
    position: absolute;
    width: 15%;
    background-color: wheat;
    height: 100%;

}
.container-side-items{
    display: flex;
    justify-content: end;
}
.container-side-items_items{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    width: 85%;
    background-color: yellow;
}

.container-footer {
background-color: blue;
height: 300px;
width:auto;
margin:40px,20px;
padding:40px,20px;
display: flex;
border: 2px, solid, black
}
