@use '../../variables';

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid variables.$darkcolor-red-base;

    // & img {
    //     height: 100px;
    //     aspect-ratio: 1/1;

    // }
}

.navbar_nav {
    display: flex;
    width: 80%;
}

.navLinks {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;

    & a {
        color: inherit;
        text-decoration: none;
    }

    & h1 {
        color: variables.$darkcolor-red-base;
        padding: 3px 30px;
        margin-left: 20px;
        border-radius: 10px;
        border: 2px solid variables.$darkcolor-red-base;
        box-shadow: 2px 5px 0px variables.$darkcolor-red-base;

        &:hover {
            background-color: variables.$bg-complem;
            color: variables.$darkcolor-red-base;
        }
    }
}
.cart-widget-quantity{
  height: 10%;
}
.cart-widget-header {
    display: flex;
    // width: 70px;
    min-width: 70px;
    flex-direction: row;
    transition: .5s ease;

    & iconify-icon {
        color: black;
        padding: 10px;
        border-radius: 10px;
        transition: .5s ease;
        box-shadow: 3px 3px 0px variables.$darkcolor-red-base;
        border: 2px solid variables.$darkcolor-red-base;
        &:hover {
            color: variables.$darkcolor-red-base;
            // box-shadow: 1px 1px 0px variables.$darkcolor-red-base;
            background-color: variables.$bg-complem;
            ;
        }
    }


}

.quantity {
    padding: 2px;
    background-color: rgb(255, 217, 0);
    border: 1px solid black;
    box-shadow: 1px 1px 0px black;
    border-radius: 20%;
    font-size: smaller;
    margin-left: 3px;
}

.logo-container{
    width: 30%;
    // background-color: aqua;

}
.logo{
    // aspect-ratio: 1/1;
    width: 100%;
   

}